/* Created by: Emma Janani
* Created on: Apr 2022
* This CSS file defines the style for index.php
*Unit3-03-PHP-VolumeSphere
*/

body {
	background-color: #d8beed;
}

h1 {
	background-color: #ce95fc;
	color: black;
	padding: 40px;
	text-align: center;
}

div {
  font-weight: bold;
  color: black;
  margin: 5px;
  text-align: center;
}

#display-results{
  background-color: #ce95fc;
}

button {
background-color: #ce95fc;
}

iframe {
  width: 30%;
}